body {
    background: linear-gradient(to right bottom, #2193b0, #6dd5ed) fixed;
    width: 100%;
}

#header {
    text-align: center;
    font-family: Impact, Charcoal, sans-serif;
}

#container {
    background: lightgray;

    position: absolute;
    top: 40px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    margin-top: 100px;
    max-width: 600px;
    max-height: 600px;
    font-size: 0;
}


#inner-div {
    display: inline-block;
    vertical-align: top;
    vertical-align: bottom;
}

#size-select {
    width: 375px;
}

#holder {
    display: flex;
    justify-content: space-between;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
   
}